@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.neural {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  position: absolute;
  background-image: url('/img/neural.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
  top: 0;
}

.neural__image {
  background: linear-gradient(rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.9) 50%, #fff);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 17px 30px
}

.header__appname {
  font-size: 25px;
  font-weight: 400;
  color: #2F7ABB;
  text-decoration: none;
}

.header__greeting {
  font: 300 13px 'Ubuntu';
  color: #777;
}

.header__greeting a {
  color: black;
  text-decoration: none;
}

.login {
  width: 100%;
  padding-top: 1px;
}

.login__wrapper {
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
  max-width: 600px;
  padding: 40px 15px;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.login__title {
  text-align: center;
  font: 500 45px 'Ubuntu';
  color: #153A5A;
}

.login__row {
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline
}

.login__button {
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}

.textinput {
  outline: none;
  border: 1px solid #eee;
  padding: 7px 7px 5px 7px;
  width: 230px
}

.button {
  width: 100px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #2F7ABB;
  color: white;
  padding: 5px 7px;
  /* font: 300 14px 'Ubuntu'; */
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.button_green {
  background: #40C233
}

.step-form {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 550px;
  margin: 0 auto;
  background: white;
}

.step-form h1 {
  text-align: center;
  margin: 15px;
  font-weight: 400;
}

.step-form-header {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding: 15px;
  overflow: hidden;
}

.step-form-header div {
  float: left;
}

.step-form-header .step {
  height: 44px;
  width: 44px;
  border-radius: 3px;
  border: 1px solid #3498db;
}

.step-form-header .step p {
  text-align: center;
  line-height: 44px;
  margin: 0;
  color: #333;
  font-size: 16;
}

.step-form-header .step.active,
.step-form-header .line.active {
  background: #3498db;
}

.step-form-header .step.active p {
  color: #fff;
}

.step-form-header .line {
  border: 1px solid #3498db;
  width: calc((100% - 180px) / 3);
  height: 4px;
  margin-top: 20px;
}

.profile {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.profile__left {
  width: 260px;
  padding: 10px;
}

.profile__name {
  font: 300 30px 'Ubuntu';
  text-align: center;
  margin-top: 40px;
}

.profile__photo {
  width: 200px;
  height: 200px;
  margin: auto;
}

.profile__photo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.profile__data {
  /* font: 300 14px 'Ubuntu'; */
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.profile__data span {
  font: 300 13px 'Ubuntu';
  color: #777;
}

.hr {
  width: 100%;
  height: 1px;
  background: #eee;
}

.profile__hr {
  margin-top: 20px
}

.profile__right {
  width: 940px;
}

.profile__topbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.profile__title {
  font: 300 20px 'Ubuntu';
}

.products__placeholder {
  margin-top: 20px;
  border-radius: 10px;
  background: #f8f8f8;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 100 40px 'Ubuntu';
  color: #444
}

.products__placeholder--button {
  margin-top: 30px;
}

.profile__products {
  margin-top: 30px;
}

.productitem {
  border-bottom: 1px solid #eee;
  margin-top: 17px;
  padding-bottom: 17px;
  text-decoration: none;
  display: block;
}

.productitem__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productitem__name {
  font: 300 20px 'Ubuntu';
  color: #333;
}

.productitem__brain {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.productitem__executions {
  /* font: 300 14px 'Ubuntu'; */
  font-size: 14px;
  font-weight: 400;
  color: #444;
  margin-right: 10px
}

.productitem__description {
  /* font: 300 14px 'Ubuntu'; */
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #444;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
}

.checkbox__label {
  /* font: 300 14px 'Ubuntu'; */
  font-size: 14px;
  font-weight: 400;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}

.modal.modal_open {
  display: block;
}

.modal__wrapper {
  margin-top: 50px
}

.createform__btn {
  margin: 0 auto;
}

.step-form-body {
  padding: 15px;
}

.step__btn {
  margin-top: 20px
}

.step__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.step__file {
  display: none;
}

.step__filedesc {
  width: 200px;
  font: 300 13px 'Ubuntu';
  text-align: right;
  white-space: normal;
  word-break: keep-all;
  overflow: hidden;
}

.fourthstep__col {
  width: 200px;
}

.secondstep__wrapper {
  display: none;
}

.secondstep__wrapper.secondstep__wrapper_open {
  display: block;
}

.secondstep__title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.secondstep__options {
  margin-bottom: 30px;
}

.secondstep__option {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.step_select {
  width: 230px;
  background: transparent;
  padding: 7px;
}

.search {
  padding-top: 20px;
  width: 920px;
  margin: 0 auto;
}

.search__field {
  width: 100%
}

.search__products {
  margin-top: 30px;
}

.product-inputs {
  margin: 15px 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
}
.product-input {
  border-bottom: 1px solid #ccc;
}
.product-input label {
  display: block;
}
.product-input input {
  display: block;
  border: 1px solid #ccc;
  height: 44px;
  margin: 10px 0;
}
.product-input p {
  font-size: 18;
  margin: 0;
}
.product-input .three {
  overflow: hidden;
}
.product-input .three img {
  float: left;
  height: 150px;
  width: 150px;
}
.product-input .one img {
  width: 150px;
  max-width: 400px;
}
.product-input:last-child {
  border-bottom: none;
}
.product button {
  margin-left: 30px;
}